<!DOCTYPE html>
<html>
<body bgcolor=black>
  <h1>{{Id}}</h1>
<h2>Basic HTML Table</h2>
<font face="Trebuchet MS" color=white>
<table style="width:100%">
  <tr>
    <th>Stage</th>
    <th>Weightage</th> 
    <th>Unit</th>
  </tr>
  <tr>
    <td>Design: </td>
    <td>weightage*0.25</td>
    <td>Person Days</td>
  </tr>
  <tr>
    <td>Development:</td>
    <td>weightage*0.50</td>
    <td>Person Days</td>
  </tr>
  <tr>
    <td>Unit Testing:</td>
    <td>weightage*0.25</td>
    <td>Person Days</td>
  </tr>
</table>
</body>
</html>
