<html>
<body bgcolor=black>
<font face="Trebuchet MS" color=white>
  <h2>Total Estimated Person Hours: </h2>
  {% for doc in weightage %}
  <table>
  <tr>
    <th>Interface name</th>
    <th>Design</th> 
    <th>Development</th>
    <th>Unit Testing</th>
    <ht>Interface Weightage</ht>
  </tr>
  <tr>
    <td>Interface {{loop.index}} :</td>
    <td>{{'%0.2f'|format(doc['weightage']*0.25)}} PD</td>
    <td>{{'%0.2f'|format(doc['weightage']*0.50)}} PD</td>
    <td>{{'%0.2f'|format(doc['weightage']*0.25)}} PD</td>
  </tr>
</table>
  
{% endfor %} 
</font>
<style>
body{
background-color:black;
}
table {
    margin-left:10%;
    padding:10px;
    color:white;
    width:50%;
    text-align:left;
    border-collapse: collapse;
    border: none;
    line-height:35px;
}
</style>
</body>
</html>
